* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
    color: #333;
    background-color: black;
}


.main-header {
    background: linear-gradient(135deg, #f9d423, #ffdb58);
    padding: 40px 20px;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}



.main-header h1 {
    font-family: 'Playfair Display', serif;
    font-size: 28px;
}

.subtitle {
    font-size: 10px;
    letter-spacing: 3px;
}


.menu-container {
    padding: 20px;
}


.section-title {
    margin-bottom: 25px;
}

.dish-img {
    height: 120px;
    overflow: hidden;
}

.dish-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


.menu-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.menu-card {
    background: #fff;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.08);
    margin-top: 10px;
    animation: reveal both;
    animation-timeline: view(50% 0%);
}


.dish-img {
    height: 120px;
    background-size: cover;
    background-position: center;
}

.dish-info {
    padding: 12px;
}

.dish-info h3 {
    font-size: 14px;
    margin-bottom: 5px;
}

.price {
    font-weight: bold;
}


.contact-footer {
    background: #ffdb58;
    padding: 25px;
    text-align: center;
    margin-top: 30px;
}

.contact-footer h3 {
    margin-bottom: 10px;
}

.contact-item {
    font-size: 13px;
    margin: 5px 0;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: 28px;
    font-weight: 600;
}

.icon {
    font-size: 24px;
}

.contact-footer {
    background: #ffdb58;
    padding: 25px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.contact-title {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 600;
}

.contact-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 14px;
    margin: 8px 0;
}

.contact-item i {
    color: #333;
    font-size: 16px;
}

.style3 {
    font-size: 20px;
    font-weight: 600;
    display: flex;
    border-bottom: 3px solid transparent;
    text-decoration: underline;
    text-decoration-color: #f9d423;
    text-decoration-thickness: 3px;
    text-underline-offset: 6px;
    border-image-slice: 1;
    justify-content: center;
    color: white;
}

@media (max-width: 350px) {
    .menu-grid {
        grid-template-columns: 1fr;
    }
}

@keyframes reveal {
    from {

        opacity: 0;
        transform: translateY(10px) scale(0.5);
    }

    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }

}
